.game-layout-container{
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    .header-container{
        height: 20%;
        &:after {
            content: '';
            position: absolute;
            left: 25%;
            width: 50%;
            border-bottom: 1px solid black;
        }
        .add-player-button {
            margin: 15px 30px;
        }
    }
    .players-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
