.game-layout-container{
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    .header-container{
        height: 10%;
        &:after {
            content: '';
            position: absolute;
            left: 25%;
            width: 50%;
            border-bottom: 1px solid black;
        }
        .header-content {
            margin: 15px 30px;
            display: flex;
            justify-content: space-evenly;
            align-items: baseline;
        }
    }
    .players-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-container {
        height: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 15px;

        p {
            margin: 20px;
            color: red;
        }
    }
}
